.container_big-card{
    /* border: solid white 2px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-left: 20px;
    width: 400px;
    height: 500px;
    

}

.title_big-card h1 {
    font-size: 20px;
    margin-top: 10px;
}

.description_big-card{
    margin-top: 20px;
}

.description_big-card p a{
    color: grey;
}

.photo_big-card img{
    width: 100%;
    min-width: 400px;
}

