.container_small-card{
    /* border: 1px solid white; */
    width: 700px;
    margin-bottom: 15px;
}

.container_small-card-content{
    display: flex;
    flex-direction: row;
}

.photo_small-card{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.title_small-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_small-card-separator{
    margin-top: 20px;
}