<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
    <div class="container_articles">
        <div class="articles_main">
            <app-big-card 
            photoCover="https://i.stack.imgur.com/luaq2.png"
            cardTitle="Alguma coisa aqui"
            cardDescription="Mais alguma coisa aqui"
            >
            </app-big-card>
        </div>
        <div class="articles_others">
            <app-small-card
            cardTitle="Nova série em breve em 2023 =D"
            photoCover="https://i.stack.imgur.com/luaq2.png">
            </app-small-card>
            <app-small-card
            cardTitle="Nova série em breve em 2023 =]"
            photoCover="https://i.stack.imgur.com/luaq2.png">
            </app-small-card>
            <app-small-card
            cardTitle="Nova série em breve em 2023 ^^" 
            photoCover="https://i.stack.imgur.com/luaq2.png">
        </app-small-card>
        </div>

    </div>